language: php

php:
  - '7.4'
  - '8.0'
  - '8.1'
  - '8.2'
  - '8.3'
  - '8.4'

notifications:
  email:
    on_success: change
    on_failure: change

branches:
  only:
  - master

before_script:
  - composer self-update
  - composer install --no-interaction

script: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
